<div class="card collapsed-card elevation-0" *ngFor="let conta of listContas">
  <div class="card-header">
    <div class="card-title">1.{{grupo.codigo}}.{{subgrupo.codigo}}.{{conta.codigo}} - {{conta.nome}}</div>

    <div class="card-tools">
      <button type="button" class="btn btn-tool btneditar">
        <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="btn btn-tool btnexcluir" style="margin-right: 10px;">
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>

  <!-- /.card-body-grupos -->

</div>
