<p-table [value]="listEntradas" selectionMode="single" styleClass="p-datatable-sm p-datatable-striped"
  [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
  [rowsPerPageOptions]="[5,10,25,50]">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="datacad" style="width:7rem">Data <p-sortIcon field="datacad"></p-sortIcon>
      </th>
      <th pSortableColumn="Estoquecadastro.descricao">Descrição do produto <p-sortIcon
          field="Estoquecadastro.descricao"></p-sortIcon>
      </th>
      <th pSortableColumn="quantidade" style="width:7rem">Quantidade <p-sortIcon field="quantidade"></p-sortIcon>
      </th>
      <th style="width:3rem"></th>
      <th style="width:3rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-registro>
    <tr>
      <td>{{registro.datacad | date: 'dd/MM/yyyy'}}</td>
      <td>{{registro.Estoquecadastro.descricao}}</td>
      <td>{{registro.quantidade}}</td>
      <td>
        <button type="button" class="btn bg-gradient-secondary btn-sm" (click)="botaoEditar('edit', registro)">
          <i class="fas fa-edit"></i>
        </button>
      </td>
      <td>
        <button type="button" class="btn bg-gradient-danger btn-sm" (click)="confirmPosition('bottom', registro)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>

<p-toast position="bottom-center" key="bc"></p-toast>
