<div class="containerPage">
  <div class="card card-info card-outline">
    <div class="card-header">
      <div class="card-title">{{tituloPagina}}</div>
      <div class="card-tools">
        <button class="btn bg-gradient-info btn-sm btncadastro" (click)="newTela('create-grupo')">
          Cadastrar grupo
        </button>
        <button class="btn bg-gradient-info btn-sm btncadastro" (click)="newTela('create-subgrupo')">
          Cadastrar subgrupo
        </button>
        <button class="btn bg-gradient-info btn-sm btncadastro" (click)="newTela('create-conta')">
          Cadastrar conta
        </button>
      </div>
    </div>
    <div class="card-body">

      <div *ngIf="trocaTela.value === 'list';">
        <app-list [trocaTela]="trocaTela"></app-list>
      </div>
      <div *ngIf="trocaTela.value === 'create-grupo';">
        <app-create-grupo [trocaTela]="trocaTela"></app-create-grupo>
      </div>
      <div *ngIf="trocaTela.value === 'edit-grupo';">
        <app-edit-grupo [trocaTela]="trocaTela"></app-edit-grupo>
      </div>
      <div *ngIf="trocaTela.value === 'create-subgrupo';">
        <app-create-subgrupo [trocaTela]="trocaTela"></app-create-subgrupo>
      </div>
      <div *ngIf="trocaTela.value === 'edit-subgrupo';">
        <app-edit-subgrupo [trocaTela]="trocaTela"></app-edit-subgrupo>
      </div>
      <div *ngIf="trocaTela.value === 'create-conta';">
        <app-create-conta [trocaTela]="trocaTela"></app-create-conta>
      </div>
      <div *ngIf="trocaTela.value === 'edit-conta';">
        <app-edit-conta [trocaTela]="trocaTela"></app-edit-conta>
      </div>
    </div>
  </div>
</div>
